/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Quicksand&display=swap);
@import url(https://fonts.googleapis.com/css?family=Outfit&display=swap);
@import url(https://fonts.googleapis.com/css2?family=PT+Mono);

$font-family-serif: "Quicksand", sans-serif !default;
$font-family-sans-serif: "Quicksand", sans-serif !default;
$font-family-monospace: "PT Mono", monospace !default;
$presentation-heading-font: "Outfit", sans-serif !default;

/*
From litera:
$primary: #4582ec !default;
$secondary: #adb5bd !default;
*/

/*
# For background
monochromeR::generate_palette("#ffffff", "go_darker", n_colours = 20, view_palette = TRUE)
# For headers (primary)
monochromeR::generate_palette("#4582ec", "go_darker", n_colours = 4, view_palette = TRUE)
# For links
monochromeR::generate_palette("#4582ec", "go_lighter", n_colours = 4, view_palette = TRUE)
*/

$primary: #0049DA !default;
$secondary: #DAE5F9 !default;

$presentation-heading-color: $primary !default;

$presentation-font-size-root: 32px !default;
$presentation-h2-font-size: 1.75em !default;
$body-bg: #DAE5F9 !default;
$link-color: #0049DA !default;
/* sets color of controls as well as links */
/*
$body-color: #403E4A;
$highlight-color: #574997;
$selection-bg: #9A91C0;
*/

/*-- scss:rules --*/

.reveal .progress {
  height: 8px;
  color: $primary;
  top: 0;
}

.reveal .slide-logo {
  top: 0;
}
