/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css2?family=PT+Mono);

$font-family-serif: "Comfortaa", sans-serif !default;
$font-family-sans-serif: "Comfortaa", sans-serif !default;
$font-family-monospace: "PT Mono", monospace !default;
$presentation-heading-font: "Josefin Sans", sans-serif !default;
$body-bg: darkslategray !default;
$presentation-font-size-root: 36px !default;
$presentation-h2-font-size: 1.75em !default;
$presentation-line-height: 1.5;
$link-color: paleturquoise;

/*-- scss:rules --*/

.reveal .progress {
  height: 6px;
  top: 0;
}

.reveal .footer {
  font-size: 0.8rem !important;
}

.reveal .slide aside {
  bottom: unset !important;
}
