/* NOTE: DON'T USE THIS, USE THE custom-css.R instead, because of relative path issues */
/* For footer */
div.my-footer {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

div.my-footer span {
    font-size: 12pt;
    position: absolute;
    left: 15px;
    bottom: 8px;
}

div.my-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    text-align: right;
}
